#root {
  max-width: 720px;
  margin: 0 auto;
  padding-top: 2rem;
  padding-right: 2rem;
  padding-left: 2rem;
  text-align: center;
}

.card {
  text-wrap: wrap;
  text-align: left;
}

.cardDate {
  border-bottom: 1px solid;
}


.read-the-docs {
  color: #888;
}

.carda:active {
  text-decoration: underline;
}

.carda:hover {
  text-decoration: underline;
}